
 .background{
    width: 100%;
    height: 90px;
    position: absolute;
    background: url("https://images.pexels.com/photos/9880350/pexels-photo-9880350.png?auto=compress&cs=tinysrgb&h=650&w=940") center center no-repeat;
    background-size: cover;
    height: 100vh; 
  }

  .product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  .body{
    font-family: Georgia, "Times New Roman", Times, serif;

  }
  .img-icon{
    width: 1.8rem; 
    height: 1.8rem;
  }
  .bg-menu {
    background-color: #cc14bd5e;
    
  }
  .menu li a{
    text-decoration: none;
    color: white;
  }
  .menu a:hover{
    color: rgba(12, 195, 219, 0.863);
  }
  
  .bg-a{
    background-color: white;
  }
  .menu ul {
    margin-top:18px;
    padding-left: 11px;
  }
  
  .menu ul li {
    margin-right:20px;
    font-size: 30px;
  }
  .h2{
    color: #00040a;
  }
  .bg-gray{
    color: rgb(53, 23, 45);
    font-style: italic;
  }
  .header-color {
    background-color: #cc14bd5e;;
    color: white;

  }

  .header-color h6 {
    margin-top: -13px;
  }
  
  .box,.row a{
    text-decoration: none;
    color:  #cc14bd5e;
    float:right;
    font-size: 13px;
  }
  

  .image img {
    float:right;
    width: 100%;
    height: 300px;
  }
  .box h4{
    font-size: 14px;
    font-weight: bold;
    display:block;
  }
  .box img{
    float: left;
    padding: 2px;
    margin: 4px;
    width:80px;
    height:80px;
    border:1px solid LightGray;
    display: inline-flex;
  }
  .bg-b{
  color: #05949e;
  }
  
  .box, .box2 p{
    font-size: 13px;
  }
  .box2 img{
    height: 100px;
    display: inline-block;
  }
  .box2 h5{
    font-size: 13px;
    font-weight: bold;
  }
  .box2{
    padding: 2px;
  }

  .button-group {
    display: flex;
    gap: 5px;
  }

  .flash-container {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 255, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 9999;
  }
  
  .flash-success {
    background-color: green;
    color: white;
  }
  
  .flash-error {
    background-color: red;
    color: white;
  }
  
